<h1>Editing server part</h1>

<%= render "form", server_part: @server_part %>

<br>

<div>
  <%= link_to "Show this server part", @server_part %> |
  <%= link_to "Back to server parts", server_parts_path %>
</div>
